@font-face {
    font-family: 'comicyregular';
    src: url('./assets/comicy-webfont.woff2') format('woff2'),
         url('./assets/comicy-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');


:root{
    --primary-c: #EF9F39;
    --second-c: #3B2818;
    --third-c: #FDF6E6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}

/* navigation */
nav>ul{
    padding: 2% 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--primary-c);
}

.nav-items :nth-child(1) {
    margin-right: auto;
}

.nav-items :nth-child(3) {
    margin-left: auto;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.contact img {
    width: 2.5vw;
}

#logo {
    font-size: 4rem;
    color:white;
    font-weight: 100;
    font-family: "Luckiest guy";
    padding: 0 1rem;
}

.button {
    padding: 1rem 4vw;
    border-radius: 4vw;
    border: none;
    background-color: var(--second-c);
    color:white;
    font-family: "Luckiest guy";
    font-weight: 100;
    font-size: 1.25rem;
}


/* Homepage */

.homepage{
    height: 90vh;
    padding: 20vh 5vw;
    align-items: start;
    display: grid ;
    grid-template-columns: 50% 50%;
}

.homepage h1 {
    font-family: comicyregular;
    font-size: 5vw;
}

.homepage p {
    color: #666666;
    font-size: 1.5vw;
    font-weight: 100;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homepage img{
    justify-self: center;
    width: 50%;
}

video {
    width:100vw;
    height: auto;
    margin: 0;
}

.coa {
    display: flex;
    gap:16px;
}

.coa :nth-child(2){
    background: none;
    border: none;
}


/* menu design */
.items{
    display: grid;
    justify-items: center;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh;
    row-gap: 50px;
}

.card{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.15);
    border-radius: 14px;
    width: 70%;
    text-align: left;
    overflow: scroll;
    background: var(--third-c);
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.card h3{
    font-family: "Luckiest guy" ;
    font-weight: 100;
}

.card p{
    font-weight: 400;
    color: #2C2D2D;

}

.card span {
    font-weight: 900;
}

.card :not(img){
    padding:0 1.5rem;
}

.card img {
    width: 100%;
}

.action{
    margin-top: auto;
    padding: 333px;
}

.purchase{
    margin-top: 1rem;
}
.purchase>button{
    border-radius: 1rem;
    border: none;
    background: var(--second-c);
    color: white;
    padding: 0.5rem 2rem;
    font-family: "Noto Sans";
    font-weight: 800;
}

.purchase>button:hover{
    background: var(--primary-c);
    cursor: pointer;
}

