:root{
    --second-c: #3B2818;
    --primary-c: #EF9F39;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}


#content {
    background-color: blue;
}

nav{
    padding: 2% 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-c);
}

.socmed {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.socmed img {
    width: 2.5vw;
}

#logo{
    font-size: 2rem;
    color:white;
}




