@font-face {
    font-family: 'comicyregular';
    src: url('./assets/comicy-webfont.woff2') format('woff2'),
         url('./assets/comicy-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

:root{
    --primary-c: #EF9F39;
    --second-c: #3B2818;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}


#content {
    background-color: blue;
}


/* navigation */
nav>ul{
    padding: 2% 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-c);
}

.nav-items :nth-child(1) {
    margin-right: auto;
}

.nav-items :nth-child(3) {
    margin-left: auto;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.contact img {
    width: 2.5vw;
}

#logo {
    font-size: 3rem;
    color:white;
    font-weight: 100;
    font-family: comicyregular;
}

#menu {
    padding: 1rem 4vw;
    border-radius: 4vw;
    border: none;
    background-color: var(--second-c);
    color:white;
}






